body {
  background-color: gray;
}
.unbox {
  display: none;
}
.Imgelem {
  width: 200px;
}
.prod,
nav {
  z-index: 10;
}
.imageProd {
}
.logo,
.logo1 {
  width: 30px;
  height: 30px;
  left: 80%;
  border-color: transparent;
  background-color: transparent;
}
.logo1 {
  top: 25%;
}
.logo {
  top: 10%;
}
.elemProduct {
  padding: 10px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.elemProduct p {
  max-width: 200px;
}
.TvContent {
  margin: 0 auto;
  justify-content: center;
  max-width: 940px;
  display: flex;
  flex-wrap: wrap;
}
.controlers {
  display: flex;
  justify-content: space-around;
  min-width: 100px;
  text-align: center;
  flex-wrap: wrap;
}
.controlers button {
  padding: 5px;
  color: white;
  background-color: transparent;
}
.tv {
}
.infProd {
  max-width: 940px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.imagess {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.bigImage {
  width: 90%;
  max-height: 400px;
  margin: 0 auto;
}
.smallImages img {
  width: 80px;
  height: 80px;
  padding: 5px 10px;
}
.smallImages {
  display: flex;
  justify-content: center;
}
.infos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.infos p {
  padding: 10px;
}
.infos span {
  color: red;
}
.buttonss {
  display: flex;
  width: 100%;

  justify-content: space-around;
}
.buttonss button {
  background-color: transparent;
  border-color: red;
}
.BUY {
  color: red;
  border: white 2px solid;
  padding: 10px;
}
