* {
  padding: 0;
  margin: 0;
}
body {
  background-color: gray;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  -webkit-box-shadow: 10px 10px 5px 5px rgba(240, 239, 237, 1);
  -moz-box-shadow: 10px 10px 5px 5px rgba(240, 239, 237, 1);
  box-shadow: 10px 10px 5px 5px rgba(240, 239, 237, 1);
}
header a {
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 20xp;
  font-weight: 900;
}
.dataNameUser {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.dataUser {
  display: flex;
  flex-direction: column;
}
main {
  max-width: 940px;
  margin: 0 auto;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
form input {
  border: white 2px solid;
  text-align: center;
}
input::-webkit-input-placeholder {
  color: white;
}
textarea::-webkit-input-placeholder {
  color: white;
}
textarea {
  border: white 2px solid;
  text-align: center;
}
button {
  margin-top: 20px;
  padding: 10px;
  font-weight: 900;
  color: white;
  border: 1px white solid;
}
